@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .divider {
    @apply w-full h-[2px] my-2 bg-black-100;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .btn-secondary {
    @apply font-oxanium rounded bg-secondary font-medium transition-all duration-500 text-sm text-gray-800 p-2 hover:bg-[#29bbf0ab] !important;
  }
  .btn-primary {
    @apply font-oxanium rounded bg-primary font-medium transition-all duration-500 text-sm text-black p-2 hover:bg-[#f09029a2] !important;
  }
  .btn-clean {
    @apply font-oxanium rounded border-[1px] font-medium transition-all duration-500 text-sm text-gray-300 p-2 hover:bg-[#454545ab] mt-4 !important;
  }
  .btn-cancel {
    @apply font-oxanium rounded border-primary border-[1px] bg-transparent text-primary font-medium transition-all duration-500 text-sm  p-2 hover:bg-[#f0902930] !important;
  }
  .default-input {
    @apply w-full p-2 bg-black-100 resize-none rounded text-sm border-none focus:border-none text-white focus:outline-none focus:ring-0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(155, 155, 155, 0.258);
  border: 5px solid #1f2425;
}

::-webkit-scrollbar-thumb {
  background-color: #272c2e;
  border-radius: 50px;
  border: 2px solid #272c2e;
}

.w-md-editor-toolbar {
  background-color: #272c2e !important;
}

.wmde-markdown {
  background-color: #272c2e !important;
}
